In [1]:
count=1
while count <=5:
    print('Swarali')
    count=count+1

Swarali
Swarali
Swarali
Swarali
Swarali

In [2]:
#print numbers from 5 to 15 
count=5
while count<=15:
    print(count)
    count=count+1

5
6
7
8
9
10
11
12
13
14
15

In [3]:
#print addition from numbers 1 to 10
count = 1 
add = 0
while count <= 10:
    add=add+count
    count += 1
print("Sum=",add)

Sum= 55

In [4]:
print(count)

11

In [5]:
#print the addition of all odd numbers from 1 to 20 

count = 1 
add = 0
while count <= 20:
    add=add+count
    count += 2
print("Sum=",add)

Sum= 100

In [6]:
#factorial 
num=int(input("Enter the number:"))
fact=1
i=1
while i<=num:
    fact=fact*i
    i=i+1
else:
    print("Loop ended")
print("Factorial is ",fact)

Enter the number:34
Loop ended
Factorial is  295232799039604140847618609643520000000

In [7]:
#find the sum of digits in a number
num=int(input("Enter the number:"))
s=0
while num>0:
    s=s+num %10
    num=num//10
       print("Sum of digits =",s)

IndentationError: unexpected indent (2540022432.py, line 7)

In [8]:
for n in 12,33,45,21:
    print(n//2)

6
16
22
10

In [9]:
#range funaction
list (range(5))

[0, 1, 2, 3, 4]

In [10]:
list (range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
list (range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
#range (start,end+1,step)

In [13]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [14]:
#addition of odd numbers from 1 to 20 
add=0
for n in range(1,21,2):
    print(n)
    add=add+n
    print("Addition =",add)

1
Addition = 1
3
Addition = 4
5
Addition = 9
7
Addition = 16
9
Addition = 25
11
Addition = 36
13
Addition = 49
15
Addition = 64
17
Addition = 81
19
Addition = 100

In [15]:
for n in "Swarali":
    print(n)

S
w
a
r
a
l
i

In [16]:
#find factorial of number using for loop
num=int(input("Enter the number:"))
fact=1
for i in range(1,num+1):
    
    fact=fact*i
    
    print(fact)

Enter the number:3
1
2
6

In [17]:
#break statement 
for n in range(1,10):
    if n==5:
        break
    print(n)

1
2
3
4

In [18]:
n

5

In [19]:
count=0
while count<10:
    print(count)
    if count==5:
        break
    count+=1

0
1
2
3
4
5

In [20]:
#continue 
for n in range(1,10):
    if n==5:
        continue 
        
        
            
        print(n)

In [21]:
#print odd numbers from 1 to 12 using continue statement
for n in range(1,13):
    if n%2==1:
        continue 
    print(n)

2
4
6
8
10
12

In [22]:
#pass
num=5 
if num>1:
    pass

In [24]:
#nested loops
i=1
while(i<=4):
        while(j<=i)
        print("*")
print("\t")

SyntaxError: expected ':' (3542252503.py, line 4)

###